%h2 Release notes
%table{:border => "1"}
  %thead
    %tr
      %th PR
      %th PR Title
      %th Issues/Milestone
      %th Dependencies
  %tbody
  - $stories.each do |story|
    - next if Planbox.has_planbox?(story)
    %tr
      %td
        %a{href: story['html_url']}= story['number']
      %td= story['title']
      %td
        %table
          %tbody
            - story['linked_issues'].each do |issue|
              %tr
                %td
                  %a{href: issue['html_url']}= issue['number']
                %td
                  - if issue['milestone']
                    %a{href: issue['milestone']['html_url']}= issue['milestone']['title']
        - block = Printer.new.get_dependency(story)
        - next if block.nil?
        %td= block

- if Planbox.has_planbox?($stories) 
  %h2 Matched Planbox Stories
  %table{:border => "1"}
    %thead
      %tr
        %th ID
        %th STATUS
        %th DESCRIPTION
        %th PROJECT NAME
        %th PROJECT ALIAS
        %th PR
        %th PR TITLE
        %th Dependencies
    %tbody
    - $stories.each do |story|
      %tr
        - break unless Planbox.has_planbox?(story)
        %td
          %a{href: story['pb_url']}= story['id']
        %td= story['status']
        %td= story['name']
        %td= story['project_name']
        %td= story['project_alias']
        %td
          %a{href: story['html_url']}= story['number']
        %td= story['title']
        - block = Printer.new.get_dependency(story)
        - next if block.nil?
        %td= block
